.filters {
    display: grid;
    grid-template-rows: auto auto 20px auto auto;
    padding: 10px;
    padding-bottom: 20px;
    background-color: rgba(55,97,168,0.60);
    border-radius: 5px;
    margin: 20px;
}

.filters label {
    font-size: 15px;
    color: white;
    font-weight: bold;
}

.filters > .text-filter-label {
    grid-row: 1;
}

.filters > .text-filter {
    grid-row: 2;
    background-color: white;
    border-radius: 5px;
    margin-top: 5px;
}

.filters > .my-pokemon-label {
    grid-row: 4;
    text-align: center;
}

.filters > .switch {
    grid-row: 5;
    padding-top: 15px;
    text-align: center;
}

.filters > .switch label input[type=checkbox]:checked+.lever {
    background-color: #3761a8;
}

.filters > .switch label input[type=checkbox]:checked+.lever:after {
    background-color: #1f3761;
}

@media only screen and (min-width: 700px) {
    .filters {
        grid-template-columns: 1fr 1fr 1fr 10px 1fr;
        grid-template-rows: auto auto;
    }

    .filters label {
        font-size: 15px;
    }
    
    .filters > .text-filter-label {
        grid-row: 1;
        grid-column: 1;
    }
    
    .filters > .text-filter {
        grid-row: 2;
        grid-column: 1 / span 3;
        padding: 0 10px;
    }
    
    .filters > .my-pokemon-label {
        grid-row: 1;
        grid-column: 5;
        text-align: right;
    }
    
    .filters > .switch {
        grid-row: 2;
        grid-column: 5;
        padding-top: 15px;
        text-align: right;
    }
}

@media only screen and (min-width: 1100px) {
    .filters {
        grid-template-columns: 1fr 1fr 1fr 1fr 10px 1fr;
        grid-template-rows: auto auto;
    }
    
    .filters > .text-filter {
        grid-column: 1 / span 3;
        padding: 0 10px;
    }
    
    .filters > .my-pokemon-label {
        grid-column: 6;
        text-align: center;
    }
    
    .filters > .switch {
        grid-column: 6;
        padding-top: 15px;
        text-align: center;
    }    
}